$icons: (
	  sprite: (width: 127px, height: 102px, svgPath: '../img/sprite.svg'),
 	arrow_next: (width: 9px, height: 15px, backgroundX: 0px, backgroundY: -77px),
 	arrow_prev: (width: 9px, height: 15px, backgroundX: -19px, backgroundY: -77px),
 	clock: (width: 17px, height: 17px, backgroundX: -100px, backgroundY: 0px),
 	logo: (width: 40px, height: 40px, backgroundX: 0px, backgroundY: 0px),
 	mail: (width: 23px, height: 17px, backgroundX: 0px, backgroundY: -50px),
 	mail2: (width: 40px, height: 30px, backgroundX: -50px, backgroundY: 0px),
 	phone: (width: 18px, height: 9px, backgroundX: -33px, backgroundY: -50px),
 	phone1: (width: 10px, height: 6px, backgroundX: -100px, backgroundY: -54px),
 	placeholder: (width: 17px, height: 17px, backgroundX: -100px, backgroundY: -27px),
);
