@import "../../styles/helpers/_helpers";


.modal-success {
    display: none;
    color: #333333;
    justify-content: center;
    padding: 87px 30px;
    font-size: 18px;
    line-height: 22.14px;
    background-color: #ffffff;

    .modal__content {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        padding: 52px 0 0 0;

        @include max-screen(991px) {
            height: 100%;
            justify-content: center;
        }
    }

    .modal__title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 25px;
        margin-top: 0;
    }

    .fancybox-close-small {
        opacity: 0.1;
    }

    p {
        text-align: center;
    }

    @include max-screen(991px) {
        width: 100%;
        height: 100%;
    }

}

.modal.fancybox-content {
    padding: 0;
    border: 11px solid #F2F4F6;
}

.fancybox-close-small {
    opacity: 0.3;
}


.fancybox-can-pan .fancybox-content,
.fancybox-can-swipe .fancybox-content {
    cursor: auto;
}
