+b.modal.modal-success#modal1
    +e.content
        +e.title Спасибо
        p 
            | Информация отправлена. 
            br
            | Мы свяжемся с вами в ближайшее время.
    +e.A(href="javascript://").close
