+b.HEADER.header 
	+e.inner.container
		+e.logo
			img(src="./img/logo.svg", alt="").logo
			span BuhOne
		+e.info
			+e.contacts 
				a(href="tel:81112223344").link-icon.phone 8(111)222-33-44
				span.link-icon.work-time Пн-Пт 10:00-18:00
				a(href="mailto:order@buhone.ru").link-icon.email order@buhone.ru
				span.link-icon.place Невский пр. 130
			include ../nav/nav
		+e.burger
			span
