+b.NAV.nav
    .pushmenu.opened
        span
        span
        span
        span
    +e.A(href="#").item главная
    +e.A(href="#").item услуги
    +e.A(href="#").item кейсы
    +e.A(href="#").item о компании
    +e.A(href="#").item контакты