+b.SECTION.contacts
    .container 
        .section__inner
            +e.info 
                h2.title Связь с нами
                p
                    | У вас остались вопросы? Напишите нам - мы ответим в ближайшее время
                a(href="tel:81112223344").link-icon.phone +7(111)222-33-44 
                a(href="mailto:order@buhone.ru").link-icon.email order@buhone.ru
            include ../form/form
